<html>
    <head>
        <title>O choro é livre e sem impostos</title>
    </head>
    <body bgcolor="121111">
        <div>
	    <p>&nbsp;</p>
            <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <h1 style="text-align:center; color:white;"><font face="Arial">CHORA MAIS</font></h1>
	    <p>&nbsp;</p>
            <p>&nbsp;</p>
	    <p>&nbsp;</p>
        </div>

        <div>
            <h2 style="text-align:center; color:white"><font face="Arial">CHORA, SEU CONE</font></h2>
            <p style="text-align:center; color:white"><font face="Arial">"Traz calma. Depois de chorar, a gente sente um alívio sempre maior e mais intenso do que o estresse causado por aquela situação desagradável que nos levou às lágrimas. É como se o choro esvaziasse o corpo."</font></p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
        </div>

        <div>
            <h2 style="text-align:center; color:white"><font face="Arial">MIMIMIMIMI</font></h2>
            <p style="text-align:center; color:white"><font face="Arial">Mimimimimimimimimimimimimimimimimimimimimimimimimimimimimimi</font></p>
        </div>
    </body>
</html>
